In [10]:
import pandas as pd

# importing the files from folkhalsomyndigheten
covid = pd.read_excel("../Lab/Folkhalsomyndigheten_Covid19.xlsx", "Veckodata Riket")

# covid_vaccine = pd.read_excel("../Lab/Folkhalsomyndigheten_Covid19_Vaccine.xlsx")

### Uppgift 1

In [11]:
covid

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2022,38,4669,45,93,2585507,24910,22,9475,88,8.5,20303,1956.099976
138,2022,39,13532,130,175,2599039,25041,15,9490,92,8.9,20395,1965.000000
139,2022,40,3999,39,169,2603038,25079,19,9509,88,8.5,20483,1973.400024
140,2022,41,3408,33,72,2606446,25112,13,9522,73,7.0,20556,1980.500000
141,2022,42,3279,32,65,2609725,25144,17,9539,25,2.4,20581,1982.900024

In [12]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              142 non-null    int64
 1   veckonummer                     142 non-null    int64
 2   Antal_fall_vecka                142 non-null    int64
 3   Antal_fall_100000inv_vecka      142 non-null    int64
 4   Antal_fall_100000inv_14dagar    142 non-null    int64
 5   Kum_antal_fall                  142 non-null    int64
 6   Kum_fall_100000inv              142 non-null    int64
 7   Antal_nyaintensivvårdade_vecka  142 non-null    int64
 8   Kum_antal_intensivvårdade       142 non-null    int64
 9   Antal_avlidna_vecka             142 non-null    int64
 10  Antal_avlidna_milj_inv_vecka    142 non-null    float64
 11  Kum_antal_avlidna               142 non-null    int64
 12  Kum_antal_avlidna_milj_inv      142 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 14.6 KB

In [13]:
covid.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,142.000000,142.000000,142.000000,142.000000,142.000000,1.420000e+02,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,2020.957746,26.035211,18378.345070,177.197183,354.169014,1.125288e+06,10843.281690,67.176056,6000.464789,144.936620,14.000000,12321.154930,1187.840841
std,0.797809,14.228835,38569.455753,371.689114,725.677174,9.618084e+05,9265.100705,73.435000,3076.853993,173.659331,16.796551,6103.235009,587.255605
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,3075.000000,30.000000,59.750000,1.014860e+05,982.500000,14.000000,2643.750000,25.250000,2.425000,5880.000000,569.375000
50%,2021.000000,26.000000,5531.000000,53.000000,107.500000,1.085848e+06,10461.500000,27.500000,7559.500000,77.500000,7.450000,14610.500000,1407.650024
75%,2022.000000,37.750000,21125.000000,203.500000,421.250000,2.423603e+06,23350.500000,109.000000,8863.250000,185.500000,17.950000,17177.750000,1654.999969
max,2022.000000,53.000000,265043.000000,2554.000000,5024.000000,2.609725e+06,25144.000000,289.000000,9539.000000,664.000000,64.300003,20581.000000,1982.900024

In [32]:
# write "år" and "veckonummer" togheter as "vecka"

covid["Vecka"] = covid["år"] + 'V' + covid["veckonummer"]
# covid.drop(columns="år", inplace=True)
# covid.drop(columns="veckonummer", inplace=True)
covid
# covid["Vecka"] = covid["år"].astype(str) + 'V' + covid["veckonummer"].astype(str)

KeyError: 'år'

In [148]:
covid

,Statistikdatum,Totalt_antal_fall,Blekinge,Dalarna,Gotland,Gävleborg,Halland,Jämtland_Härjedalen,Jönköping,Kalmar,...,Sörmland,Uppsala,Värmland,Västerbotten,Västernorrland,Västmanland,Västra_Götaland,Örebro,Östergötland,vecka
0,2020-02-04,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2020V6
1,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020V6
2,2020-02-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020V6
3,2020-02-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020V6
4,2020-02-08,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020V6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,2022-10-22,269,2,23,1,0,16,5,12,5,...,15,1,10,18,0,3,29,37,14,2022V42
992,2022-10-23,181,0,7,0,1,16,1,7,4,...,9,25,10,4,0,0,11,27,4,2022V42
993,2022-10-24,437,2,4,0,7,15,7,2,27,...,23,16,15,18,27,18,38,22,17,2022V43
994,2022-10-25,732,12,41,1,6,48,16,28,34,...,37,27,25,51,6,32,86,68,25,2022V43
995,2022-10-26,687,9,31,2,13,31,12,35,24,...,26,30,21,30,45,22,75,41,36,2022V43

In [149]:
import seaborn as sns
import plotly_express as px
import matplotlib.pyplot as plt

# Rita en linjediagram som visar avlidna fall per vecka från 2020v6 till nu.
dead_per_week = covid.groupby('vecka')['Antal_avlidna_vecka'].sum().reset_index()


# fig, axes = plt.subplots(2, 2)

KeyError: 'Column not found: Antal_avlidna_vecka'

In [ ]:
pd.set_option("display")

### Uppgift 2

In [84]:
import plotly_express as px

In [105]:
covid_vaccine.describe()

             Vecka           År  Antal vaccinationer
count  2112.000000  2112.000000         2.112000e+03
mean     24.854167  2021.416667         1.291962e+06
std      14.446541     0.533720         3.457407e+06
min       1.000000  2020.000000         0.000000e+00
25%      12.750000  2021.000000         1.638825e+05
50%      24.500000  2021.000000         4.467855e+05
75%      36.250000  2022.000000         6.941462e+05
max      53.000000  2022.000000         2.476851e+07

In [103]:
# hur många län finns det i dataset?

regions = covid_vaccine["Region"].drop_duplicates()
regions = covid_vaccine["Region"].str.lower().drop_duplicates()
regions

0         | sverige |
1           stockholm
2             uppsala
3        södermanland
4        östergötland
5           jönköping
6           kronoberg
7              kalmar
8             gotland
9            blekinge
10              skåne
11            halland
12    västra götaland
13           värmland
14             örebro
15        västmanland
16            dalarna
17          gävleborg
18     västernorrland
19           jämtland
20       västerbotten
21         norrbotten
Name: Region, dtype: object

In [102]:
# Hur många kommuner finns i detta dataset?

covid_vaccine

KeyError: 'Kommuner'

In [94]:
# hur stor är befolkningen som representeras i detta dataset? # 6 966 070



total_population_regions = covid_vaccine.groupby("Region")["Antal vaccinationer"].sum()

total_sum_people = total_population_regions.sum()
print(f"Sum of people in dataset: {total_sum_people}")

Sum of people in dataset: 2728623243

In [100]:
total_vaccinations = 2728623243
total_people_vacced = 6966070

0.0025529614679750054

In [ ]:
# Beräkna hur många barn under 18 år det finns i Sverige baserat på det här datasetet. Du får leta upp statistik på hur stor totala befolkningen är i Sverige.
# 10 400 000